{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
{{!-- {{myVar}}

<button {{action 'doSomething' on='click'}}>Press me</button> --}}
{{outlet}}

{{!-- <form class="" action="index.html" method="post">
  <h1>Log inB</h1>

  {{input type="name" value=name}}
  {{input type="password" value=pass}}

  <button {{action "checkUser" on="click"}}>Log in</button>
</form> --}}
